<%- include('../partials/header') %>
<body>
  <% if (message && message.length > 0) { %>
  <div class="flash-messages-container animate__animated">
      <div class="flash-message"><iconify-icon icon="solar:info-circle-outline" inline class="brand-orange"></iconify-icon><%= message %></div>
  </div>
  <% } %>
    <section id="login-layout" class="container">
        <div class="row">
     
          <div class="col-12 text-center mb-4">
            <img src="/Altius_healthcare_logo_dark.png" style="width:80px;margin-bottom:24px;"> 

            <h2>Sign into Altius Wellness</h2>
            <p class="supporting-text">Login to see your personalised wellness plans</p>
          </div>
          <div class="col-12">
            <form action="/corporate-login" method="POST">
              <div class="col-12 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="col-12 mb-3">
                <label for="access_pin" class="form-label">Access Pin</label>
                <input type="password" class="form-control" id="access_pin" name="access_pin" required>
              </div>
              <div class="col-12 mb-4">
                <button class="btn-primary w-100" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <script src="/js/functions.js"></script>
</body>
</html>
