<%- include('../partials/header') %>
<body>
    <section class="container" style="max-width: 650px;">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <img src="/Altius_healthcare_logo_dark.png" style="width:80px;margin-bottom:18px;"> 
                <h3>Complete Altius Wellness registration</h3>
                <p class="supporting-text">Registering gives you access to your wellness scores</p>
              </div>
            <div class="col-12">
                <form action="/complete-registration" method="POST">
                    <!-- Name -->
                    <div class="form-row row mb-3">
                        <div class="col-lg-3 col-12">
                            <label class="form-label" for="first_name">First Name</label>
                        </div>
                        <div class="col-lg-9 col-12">
                            <input class="form-control" type="text" id="first_name" name="first_name" required>
                        </div>
                    </div>
                    <div class="form-row row mb-3">
                        <div class="col-lg-3 col-12">
                            <label class="form-label" for="last_name">Last Name</label>
                        </div>
                        <div class="col-lg-9 col-12">
                            <input class="form-control" type="text" id="last_name" name="last_name" required>
                        </div>
                    </div>

                    <!-- Email -->
                    <div class="form-row row mb-3">
                        <div class="col-lg-3 col-12">
                            <label class="form-label" for="email">Email</label>
                        </div>
                        <div class="col-lg-9 col-12">
                            <input class="form-control" type="email" id="email" name="email" value="<%= email %>" readonly>
                        </div>
                    </div>

                    <!-- Access Pin -->
                    <div class="form-row row mb-3">
                        <div class="col-lg-3 col-12">
                            <label class="form-label" for="access_pin">Access Pin</label>
                        </div>
                        <div class="col-lg-9 col-12">
                            <input class="form-control" type="password" id="access_pin" name="access_pin" >
                            <span class="form-text font-12">You will have received your pin via email</span>
                        </div>
                    </div>

                    <!-- Date of Birth -->
                    <div class="form-row row mb-3">
                        <div class="col-lg-3 col-12">
                            <label class="form-label" for="dob">Date of Birth</label>
                        </div>
                        <div class="col-lg-9 col-12">
                            <div class="row">
                                <div class="col">
                                    <div class="form-floating">
                                        <input
                                          type="number"
                                          class="form-control"
                                          id="day"
                                          name="day"
                                          placeholder="DD"
                                          min="1"
                                          max="31"
                                          required
                                        />
                                        <label for="day">Day</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input
                                          type="number"
                                          class="form-control"
                                          id="month"
                                          name="month"
                                          placeholder="MM"
                                          min="1"
                                          max="12"
                                          required
                                        />
                                        <label for="month">Month</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <input
                                          type="number"
                                          class="form-control"
                                          id="year"
                                          name="year"
                                          placeholder="YYYY"
                                          min="1900"
                                          max="2100"
                                          required
                                        />
                                        <label for="year">Year</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gender -->
                    <div class="form-row row mb-3">
                        <div class="col-lg-3 col-12">
                            <label class="form-label" for="gender">Gender</label>
                        </div>
                        <div class="col-lg-9 col-12">
                            <select class="form-select" id="gender" name="gender" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>

                    <!-- Role (hidden) -->
                    <input type="hidden" id="role" name="role" value="customer">
                    
                    <!-- Terms and conditions -->
                    <div class="form-row row mb-3">
                        <div class="col-lg-3 col-12">
                          <label class="form-label" for="terms">Terms and Conditions</label>
                        </div>
                        <div class="col-lg-9 col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="terms" name="terms" required>
                            <label class="form-check-label" for="terms">
                              I agree to the <a href="/terms" target="_blank">terms and conditions</a>
                            </label>
                          </div>
                        </div>
                      </div>
                      

                    <!-- Submit Button -->
                    <div class="form-row row mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
