<%- include('../partials/header') %>
<body>
    <section class="container">
        <div class="row">
            <div class="col-12">
                <form action="/register" method="POST">
                    <!-- Name -->
                    <div class="form-row row">
                        <div class="col-lg-4 col-12">
                            <label class="form-label" for="name">Name</label>
                        </div>
                        <div class="col-lg-8 col-12">
                            <input class="form-control" type="text" id="name" name="name" required>
                        </div>
                    </div>
                
                    <!-- Email -->
                    <div class="form-row row">
                        <div class="col-lg-4 col-12">
                            <label class="form-label" for="email">Email</label>
                        </div>
                        <div class="col-lg-8 col-12">
                            <input class="form-control" type="email" id="email" name="email" required>
                        </div>
                    </div>
                
                    <!-- Password -->
                    <div class="form-row row">
                        <div class="col-lg-4 col-12">
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <div class="col-lg-8 col-12">
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>
                    </div>
                
                    <!-- Role (hidden) -->
                    <input type="hidden" id="role" name="role" value="user">
                
                    <!-- Submit Button -->
                    <div class="form-row row">
                        <div class="col-12">
                            <button type="submit" class="btn-primary">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    
</body>
</html>
