<%- include('../partials/header') %>
<section class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;max-width: 780px;padding:30px;">
    <div class="row">
 
        <div class="col-lg-6">

            <form action="/register" method="POST">
                <div class="col-12 mb-4">
                    <h2>EasyLeagues </h2>
                    <h4>Guess scores, earn points, rank higher</h4>
                    <p class="font-14">Create or join private and public leagues based on real competitions. Earn points for the correct result and scoreline. View overall and weekly leaderboards giving you something to play for every week.</p>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <h4>Sign up here</h4>
                        
                        <label class="form-label" for="first_name">First name</label>
                        <input class="form-control" type="text" id="first_name" name="first_name" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                    </div>
                </div>
                <input type="hidden" id="role" name="role" value="user">
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100">Register</button>
                    </div>
                    <div class="col-12 mt-3 d-flex justify-content-center">
                        <a href="/login" class="font-14 brand no-styling fw-semibold">Back to login</a>
                      </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-12 text-center align-items-center">
           
            <div class="shadow-lg" style="border: 4px solid #ecf0f6; padding: 5px;background-color: #ecf0f6;border-radius: 6px;">
                <img style="max-width: 100%; width: 100%;" src="../predictions.png" alt="Registration Screenshot">
            </div>
            
        </div>
    </div>
</section>
<%- include('../partials/footer') %>
