<div class="sidebar">
    <div class="sidebar-header">
      <div class="site-title">
        <img src="/wellness_by_altius (1).png" id="nav-bar-logo"> 
      </div>
      <div class="menu-toggle-container">
        <div style="position:relative" id="navToggle">
          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  
    <nav class="sidebar-nav">
      <!-- <div class="nav-search-container nav-item">
        <input type="text" class="form-control" id="search-nav" style="height:34px!important;">
      </div> -->
        <% if (user.role === 'admin') { %>
          <a href="/">
            <div class="nav-item">
              <span>
                <iconify-icon inline icon="solar:home-2-linear"></iconify-icon>Home
              </span>
            </div>
          </a>
        
        <a href="/plans">
          <div class="nav-item">
            <span>
              <iconify-icon inline icon="solar:folder-favourite-bookmark-outline"></iconify-icon>Plans
            </span>
          </div>
        </a>
        <a href="/content">
          <div class="nav-item d-flex justify-content-between align-items-center">
              <span>
                <iconify-icon inline icon="solar:documents-broken"></iconify-icon>Content
              </span>
          </div>
        </a>
        <a href="/customers">
            <div class="nav-item d-flex justify-content-between align-items-center">
                <span>
                    <iconify-icon inline icon="solar:users-group-two-rounded-broken"></iconify-icon>Clients
                </span>
            </div>
          </a>
      <% } %>
      <% if (user.role === 'customer') { %>
      <a href="/">
        <div class="nav-item">
          <span>
            <iconify-icon icon="solar:calendar-add-outline" inline></iconify-icon>My bookings
          </span>
        </div>
      </a>
      <% } %>

      <div class="sidebar-footer">
        <a class="no-styling" href="/logout">
          <div class="">
            <span>
              <iconify-icon inline icon="solar:user-circle-linear"></iconify-icon><%= user.name %> <%= user.role %>
            </span>
          </div>
        </a>
      </div>
    </nav>
  </div>

  <div class="main-content container-fluid">