<div class="sidebar">
  <nav class="sidebar-nav">
    <a href="/" class="nav-item d-flex align-items-center justify-content-center text-center">
      <iconify-icon inline icon="mdi:soccer"></iconify-icon> Home
  </a>
    <a href="/leagues" class="nav-item d-flex align-items-center justify-content-center text-center">
        <iconify-icon inline icon="mdi:trophy-outline"></iconify-icon> Leagues
    </a>
    <!-- <div class="nav-item dropdown d-flex align-items-center justify-content-center text-cente">
      <span class="dropdown-toggle" id="logoutDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <iconify-icon inline icon="solar:user-broken"></iconify-icon> Profile
      </span>
      <ul class="dropdown-menu w-100" aria-labelledby="logoutDropdown">
        <li><a class="dropdown-item" href="/logout">Logout</a></li>
      </ul>
    </div> -->
  </nav>
  </div>

  <div class="main-content shadow-sm">