<div class="sidebar">
  <nav class="sidebar-nav">
    <a href="/" class="nav-item d-flex align-items-center justify-content-center text-center">
      <iconify-icon inline icon="mdi:soccer"></iconify-icon> Home
  </a>
    <a href="/leagues" class="nav-item d-flex align-items-center justify-content-center text-center">
        <iconify-icon inline icon="mdi:trophy-outline"></iconify-icon> Leagues
    </a>
    <% if (user.role == "admin" ) { %>
    <a href="/fixtures" class="nav-item d-flex align-items-center justify-content-center text-center">
      <iconify-icon inline icon="mdi:calendar"></iconify-icon> Games
    </a>
   <% } %>
 
  </nav>
  </div>

  <div class="main-content shadow-sm">