<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<% if (message && message.length > 0) { %>
  <div class="flash-messages-container animate__animated">
    <div class="flash-message">
      <iconify-icon icon="solar:info-circle-outline" inline class="brand-orange"></iconify-icon><%= message %>
    </div>
  </div>
<% } %>

<div class="container-xxl px-xl-4 px-0">
  <section>
    <div class="row">
      <div class="col-lg-9 col-12">
        <h1>Create Business</h1>
      </div>
    </div>
  </section>

  <form action="/businesses/create" method="POST">
    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="name">Name:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="contact_email">Contact Email:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="email" class="form-control" id="contact_email" name="contact_email">
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="contact_phone">Contact Phone:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="tel" class="form-control" id="contact_phone" name="contact_phone">
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="address">Address:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="text" class="form-control" id="address" name="address">
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="website">Website:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="url" class="form-control" id="website" name="website">
      </div>
    </div>

    <div class="form-row row mb-3">
      <div class="col-lg-3 col-12">
        <label class="form-label" for="image">Image URL:</label>
      </div>
      <div class="col-lg-9 col-12">
        <input type="text" class="form-control" id="image" name="image">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>

<%- include('../partials/footer') %>
